<div [ngClass]="{'show-sidebar': showSidebar, 'hide': !showSidebar}">
    <div class="card jhi-card">
        <div class="card-header">
            <h2>
                {{title}} Projects
                <button class="btn btn-sm btn-primary float-right" (click)="toggleSidebar()">
                    <span>&lt;&lt;</span>
                </button>
            </h2>
        </div>
        <div class="card-body bg-navy" *ngIf="isPostFiles">
            <!--ListView-->
            <ngb-accordion #acc="ngbAccordion">
                <ngb-panel *ngFor="let project of projects; trackBy: projectId;" title="{{project.name}}" class="bg-primary">
                    <ng-template ngbPanelContent>
                        <ul>
                            <li class="btn btn-block btn-info" *ngFor="let trace of project.postTraces; trackBy: traceId;" (click)="onTraceSelected(trace, project.name)">
                                {{trace.name}}
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="card-body bg-navy" *ngIf="isProject">
            <!--DisplayView-->
            <ngb-accordion #acc="ngbAccordion">
                <ngb-panel *ngFor="let postFile of postFiles; trackBy: projectId;" title="{{postFile.name}}" class="bg-primary">
                    <ng-template ngbPanelContent>
                        <ul>
                            <li class="btn btn-block btn-info" *ngFor="let file of postFile.files; trackBy: traceId;" (click)="onPathSelected(file, postFile.name)">
                                {{file.name}}
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>

<div [ngClass]="{'show-sidebar-button': !showSidebar}">
    <button class="btn btn-primary" (click)="toggleSidebar()" [disabled]="isLoading">
      <span class="fa fa-th-list"></span>
    </button>
</div>

<div [ngClass]="{'linebar': !showSidebar}">
</div>

<div class="dashboard row" id="uploadPanel" [ngClass]="{'show-uploader': showUploader, 'hide': !showUploader}">
    <jhi-upload></jhi-upload>
</div>