.show-sidebar-button {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 9999;
}

.hide {
    display: none;
}

.show-sidebar {
    width: 300px;
    min-height: 1000px;
    position: fixed;
    top: 80px;
    left: 0;
    display: block;
    z-index: 9999;
    border-left: solid 1px #353d47;
    border-right: dashed 1px #353d47;
    background: #353d47;
}

.linebar {
    width: 2px;
    border-right: dashed 2px #353d47;
    min-height: 1000px;
    z-index: 9990;
    position: fixed;
    top: 80px;
    left: 0;
}

.show-uploader {
    width: 100%;
    min-height: 1000px;
    position: fixed;
    top: 80px;
    display: block;
    z-index: 9999;
    border-right: solid 1px #656565;
    border-left: dashed 1px #333;
    background: #353d47;
    margin-left: auto;
    margin-right: auto;
}

#closeUpload {
    float: right;
    min-height: 40px;
    background: #353d47;
}