<div class="map">
    <aol-map [width]="'100%'" [height]="'100%'">
        <aol-interaction-default></aol-interaction-default>
        <aol-control-defaults></aol-control-defaults>
        <aol-view [zoom]="zoom" [extent]="extent" [projection]="projection" [center]="center" [minZoom]="minZoom" [maxZoom]="maxZoom">
        </aol-view>
        <aol-layer-image [visible]="true" [opacity]="1" [zIndex]="10">
            <aol-source-imagestatic [url]="imageStaticUrl" [imageExtent]="imageExtent" [projection]="imageProjection">
            </aol-source-imagestatic>
        </aol-layer-image>
    </aol-map>
</div>