<ng-container #canvasContainer>
</ng-container>
<ng-template #canvasTemplate>
    <div id="canvas-container" (contextmenu)="onContextMenu($event)" class="dashboard text-center" *ngIf="isCanvasReady">
        <canvas id="POSTCanvasPlotter" [width]="width" [height]="height">
                <div id="err_msg">Your browser does not support HTML5 canvas.</div>
        </canvas>
        <table id="gnuplot_mousebox" class="table">
            <tr class="table-row">
                <td class="icon" (click)="toggle_grid();"><img src="../../../content/js/grid.png" id="gnuplot_grid_icon" alt="#" title="toggle grid"></td>
                <td class="icon" (click)="unzoom();"><img src="../../../content/js/previouszoom.png" id="gnuplot_unzoom_icon" alt="unzoom" title="unzoom"></td>
                <td class="icon" (click)="rezoom();"><img src="../../../content/js/nextzoom.png" id="gnuplot_rezoom_icon" alt="rezoom" title="rezoom"></td>
                <td class="icon">
                    <a href="../../../content/js/canvas_help.html">
                        <img src="../../../content/js/help.png" align="right" alt="help" title="help">
                    </a>
                </td>
                <td class="icon" (click)='toggle_plot("POSTCanvasPlotter")'>&#10112;</td>
                <td class="mb0">x</td>
                <td class="mb1"><span>&nbsp;{{pointX}}</span></td>
                <td class="mb0">y</td>
                <td class="mb1"><span>&nbsp;{{pointY}}</span></td>
                <td class="mb0">Selected</td>
                <td class="mb0">x</td>
                <td class="mb1"><span>&nbsp;{{clickedX}}</span></td>
                <td class="mb0">y</td>
                <td class="mb1"><span>&nbsp;{{clickedY}}</span></td>
        </table>
    </div>
</ng-template>