canvas {
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
}

.dashboard {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 890px;
    overflow-y: auto;
}