<div class="dashboard">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></div>
                </div>
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="filter" id="filter" aria-describedby="basic-addon1" [(ngModel)]="filter">
                <span *ngIf="filterIsSet">
                    {{numberOfRecords}} records found.
                </span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <button class="btn btn-md btn-default" (click)="search()">
                                    search&nbsp;
                                    <i class="fa fa-search"></i>
                    </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 float-right text-right">
            <button class="btn btn-md btn-default" (click)="unsetFilter()" *ngIf="filterIsSet">clear</button>
            <button class="btn btn-md btn-warning" (click)="reset()" *ngIf="config.page > 3">reset</button>
            <button class="btn btn-md btn-info" (click)="previous()" *ngIf="config.page > 1">previous</button>
            <button class="btn btn-md btn-success" (click)="next()" *ngIf="filteredTraceData.length > 0 && (config.page + 1) < no_of_pages">next</button>
        </div>
    </div>
</div>
<div class="table-responsive data-view" *ngIf="filteredTraceData">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><span>#</span></th>
                <th><span>Trace Data</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trace of filteredTraceData;">
                <td>{{trace.id}}</td>
                <td>
                    <div [innerHTML]="getHtmlLog(trace.data)"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>