.dashboard {
    margin-left: auto;
    margin-right: auto;
    max-height: 900px;
    width: 100%;
}

.data-view {
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.data-view::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #eee;
}

.data-view::-webkit-scrollbar {
    width: 15px;
    background-color: #eee;
}

.data-view::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #eee;
}

.badge {
    color: white;
}

.btn {
    margin-left: 1px;
    margin-right: 1px;
}