<div>
    <h2>
        <span>Traces</span>
        <button class="btn btn-primary float-right jh-create-entity create-trace" [routerLink]="['/', { outlets: { popup: ['trace-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Trace
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="traces">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Timestamp</span></th>
            <th><span>Name</span></th>
            <th><span>File</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trace of traces ;trackBy: trackId">
                <td><a [routerLink]="['../trace', trace.id ]">{{trace.id}}</a></td>
                <td>{{trace.timestamp}}</td>
                <td>{{trace.name}}</td>
                <td>{{trace.file}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../trace', trace.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trace/'+ trace.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trace/'+ trace.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
