
<div *ngIf="trace">
    <h2><span>Trace</span> {{trace.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Timestamp</span></dt>
        <dd>
            <span>{{trace.timestamp}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{trace.name}}</span>
        </dd>
        <dt><span>File</span></dt>
        <dd>
            <span>{{trace.file}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trace/'+ trace.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
