<div class="container trace-header">
    <h2>Trace Monitoring Framework</h2>
    <div class="row">
        <div class="col-8 text-left border-right">
            <button class="btn btn-primary">
                    <span>init</span>
                </button>
            <button class="btn btn-primary" (click)="list()">
                    <span>
                        list
                    </span>
                </button>
            <button class="btn btn-primary" (click)="display()">
                    <span>
                        display
                    </span>
                </button>
            <button class="btn btn-primary" (click)="clean()">
                    <span>clean</span>
            </button>
        </div>
        <div class="col-4 text-right">
            <button class="btn btn-primary" (click)="upload()">
                    <span>
                        upload
                    </span>
                </button>
        </div>
    </div>
</div>