.trace-header {
    position: absolute;
    top: 10px;
    left: 250px;
    background: #cccc;
    margin-left: auto;
    margin-right: auto;
    height: 80;
    z-index: 99999;
    opacity: 0.50;
}

.hide {
    display: none;
}

.show {
    display: block;
}