<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
    <div class="form-inline row-item">
        <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa" [class.fa-caret-right]="item.collapsed" [class.fa-caret-down]="!item.collapsed"></i>
        <label class="form-check-label" (click)="select(item)">{{ item.text }}</label>
    </div>
</ng-template>
<ngx-dropdown-treeview [config]="config" [items]="treeviewItems" (selectedChange)="onSelectedChange($event)" [itemTemplate]="itemTemplate">
</ngx-dropdown-treeview>