<div class="container trace-header rounded-bottom text-center">
    <div class="row">
        <div class="col-6">
            <h2 class="text-uppercase">{{title}}</h2>
        </div>
        <div class="col-4 text-right pad2x border-right">
            <button class="btn btn-primary" [ngClass]="{'active-button': isActive('init')}" (click)="init()" id="initButton">
                    <span>init</span>
            </button>

            <button class="btn btn-primary" [ngClass]="{'active-button': isActive('list')}" (click)="list()" id="listButton">
                    <span>
                        list
                    </span>
            </button>
            <button class="btn btn-primary" [ngClass]="{'active-button': isActive('display')}" (click)="display()" id="displayButton">
                    <span>
                        display
                    </span>
            </button>
            <button class="btn btn-primary" [ngClass]="{'active-button': isActive('clean')}" (click)="clean()" id="cleanButton">
                    <span>clean</span>
            </button>
        </div>
        <div class="col-2 text-left pad2x border-left">
            <button class="btn btn-primary" [ngClass]="{'active-button': isActive('upload')}" (click)="upload()">
                    <span>
                        upload
                    </span>
                </button>
        </div>
    </div>
</div>
<div class="initProjectPanel" *ngIf="showProjectNamePanel">
    <div class="container">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-4">
                <div class="input-group text-center">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="initParameter">Project Name:</span>
                    </div>
                    <input type="text" [(ngModel)]="projectName" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="init()" id="initButton" *ngIf="active == 'init'">
                                    <span>execute init</span>
                            </button>
                        <button class="btn btn-primary" (click)="clean()" id="cleanButton" *ngIf="active == 'clean'">
                                        <span>execute clean</span>
                                </button>
                    </div>
                </div>
                <h6 class="error" *ngIf="errorMessage">{{errorMessage}}</h6>
            </div>
        </div>
    </div>
</div>