.trace-header {
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    z-index: 9999;
    /* opacity: 0.75; */
    color: white;
    background-color: #353d47;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-top: 20px;
}

h2 {
    color: white;
    background-color: #353d47;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.initProjectPanel {
    height: 60px;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.active-button {
    background-color: white;
    color: #353d47;
}