<div class="container">
    <h2>Trace Monitoring Framework</h2>
    <div class="row">
        <div class="col-8 text-left border-right">
            <button>
                <span>init</span>
            </button>
            <button>
                <span>
                    list
                </span>
            </button>
            <button>
                <span>
                    display
                </span>
            </button>
            <button>
                <span>clean</span>
            </button>
        </div>
        <div class="col-4 text-right">
            <button>
                <span>
                    upload
                </span>
            </button>
        </div>
    </div>
</div>