.data-view {
    max-height: 820px;
    overflow-y: auto;
    overflow-x: auto;
}

.data-view::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #47576b;
}

.data-view::-webkit-scrollbar {
    width: 15px;
    background-color: #47576b;
}

.data-view::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #3d4b5c;
}

.loading {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}