<div *ngIf="contentReady">
    <h2 *ngIf="fileName">File View - {{fileName}}</h2>
    <div class="data-view">
        <pre>
        <code highlight [textContent]="content" (highlighted)="onHighlight($event)" [language]="languages">
        </code>
    </pre>
    </div>
    <div *ngIf="loading" class="loading">
        <img [src]="loadingGif()" alt="loading..." class="loading mx-auto d-block rounded-circle">
    </div>
</div>