<div>
    <h2>
        <span>Trace Analyses</span>
        <button class="btn btn-primary float-right jh-create-entity create-trace-analysis" [routerLink]="['/', { outlets: { popup: ['trace-analysis-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Trace Analysis
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="traceAnalyses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Description</span></th>
            <th><span>Url</span></th>
            <th><span>Created Date</span></th>
            <th><span>Created By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let traceAnalysis of traceAnalyses ;trackBy: trackId">
                <td><a [routerLink]="['../trace-analysis', traceAnalysis.id ]">{{traceAnalysis.id}}</a></td>
                <td>{{traceAnalysis.description}}</td>
                <td>{{traceAnalysis.url}}</td>
                <td>{{traceAnalysis.createdDate | date:'medium'}}</td>
                <td>{{traceAnalysis.createdBy}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../trace-analysis', traceAnalysis.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trace-analysis/'+ traceAnalysis.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trace-analysis/'+ traceAnalysis.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
