
<div *ngIf="traceAnalysis">
    <h2><span>Trace Analysis</span> {{traceAnalysis.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Description</span></dt>
        <dd>
            <span>{{traceAnalysis.description}}</span>
        </dd>
        <dt><span>Url</span></dt>
        <dd>
            <span>{{traceAnalysis.url}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{traceAnalysis.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{traceAnalysis.createdBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trace-analysis/'+ traceAnalysis.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
