<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
        <a class="navbar-brand float-left" routerLink="/" (click)="collapseNavbar()">
            <span class="navbar-title">Post Dashboard</span>
        </a>
    </div>
    <div class="col-9">
        <jhi-header></jhi-header>
    </div>
</nav>