<div class="dashboard row" *ngIf="displayView">
    <div class="col">
        <ngb-tabset destroyOnHide=true class="text-right text-capitalize">
            <ngb-tab *ngFor="let iPlot of imagePlots; trackBy: plotId;" title="{{iPlot.name}}" class="text-capitalize" id="{{iPlot.id}}">
                <ng-template ngbTabContent>
                    <jhi-map [imageStaticUrl]="iPlot.url"></jhi-map>
                </ng-template>
            </ngb-tab>
            <ngb-tab *ngFor="let cPlot of canvasPlots; trackBy: canvasPlotId;" title="{{cPlot.name}}" class="text-uppercase" id="{{cPlot.id}}">
                <ng-template ngbTabContent>
                    <jhi-canvas [plotter]="cPlot" [plotterURL]="cPlot.url" (itemSelected)="filterSelected($event)"></jhi-canvas>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
<div class="dashboard row" *ngIf="listView">
    <div class="col-3" *ngIf="postFile">
        <h2>List - {{ postFile.name }}</h2>
        <jhi-tree-view [items]="postFile" (selectedItem)="onFileSelected($event)"></jhi-tree-view>
    </div>
    <div class="col">
        <jhi-fileviewer></jhi-fileviewer>
    </div>
</div>
<div class="dashboard row" *ngIf="loading">
    <img [src]="loadingGif()" alt="loading..." class="loading mx-auto d-block rounded-circle">
</div>
<div class="dashboard row mt-5" *ngIf="panelReady">
    <img [src]="randomGif()" alt="panel-ready..." class="panel-ready mx-auto img-fluid img-thumbnail rounded-circle">
</div>