<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPostProjectLabel">Create or edit a Post Project</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!postProject.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="postProject.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="postProject.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_postTraces">Post Traces</label>
            <input type="text" class="form-control" name="postTraces" id="field_postTraces"
                [(ngModel)]="postProject.postTraces" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_metadata">Metadata</label>
            <input type="text" class="form-control" name="metadata" id="field_metadata"
                [(ngModel)]="postProject.metadata" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
