<div>
    <h2>
        <span>Post Projects</span>
        <button class="btn btn-primary float-right jh-create-entity create-post-project" [routerLink]="['/', { outlets: { popup: ['post-project-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Post Project
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="postProjects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Post Traces</span></th>
            <th><span>Metadata</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let postProject of postProjects ;trackBy: trackId">
                <td><a [routerLink]="['../post-project', postProject.id ]">{{postProject.id}}</a></td>
                <td>{{postProject.name}}</td>
                <td>{{postProject.postTraces}}</td>
                <td>{{postProject.metadata}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../post-project', postProject.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'post-project/'+ postProject.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'post-project/'+ postProject.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
