
<div *ngIf="postProject">
    <h2><span>Post Project</span> {{postProject.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{postProject.name}}</span>
        </dd>
        <dt><span>Post Traces</span></dt>
        <dd>
            <span>{{postProject.postTraces}}</span>
        </dd>
        <dt><span>Metadata</span></dt>
        <dd>
            <span>{{postProject.metadata}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'post-project/'+ postProject.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
