
<div *ngIf="traceAnalysisPlot">
    <h2><span>Trace Analysis Plot</span> {{traceAnalysisPlot.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{traceAnalysisPlot.name}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{traceAnalysisPlot.type}}</span>
        </dd>
        <dt><span>Url</span></dt>
        <dd>
            <span>{{traceAnalysisPlot.url}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{traceAnalysisPlot.createdDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trace-analysis-plot/'+ traceAnalysisPlot.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
