<div>
    <h2>
        <span>Trace Analysis Plots</span>
        <button class="btn btn-primary float-right jh-create-entity create-trace-analysis-plot" [routerLink]="['/', { outlets: { popup: ['trace-analysis-plot-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Trace Analysis Plot
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="traceAnalysisPlots">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Type</span></th>
            <th><span>Url</span></th>
            <th><span>Created Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let traceAnalysisPlot of traceAnalysisPlots ;trackBy: trackId">
                <td><a [routerLink]="['../trace-analysis-plot', traceAnalysisPlot.id ]">{{traceAnalysisPlot.id}}</a></td>
                <td>{{traceAnalysisPlot.name}}</td>
                <td>{{traceAnalysisPlot.type}}</td>
                <td>{{traceAnalysisPlot.url}}</td>
                <td>{{traceAnalysisPlot.createdDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../trace-analysis-plot', traceAnalysisPlot.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trace-analysis-plot/'+ traceAnalysisPlot.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trace-analysis-plot/'+ traceAnalysisPlot.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
