<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="card">
        <div class="card-header bg-info">
            <h4 class="text-center bg-info"> Drop-Zone
            </h4>
        </div>
        <div class="card-body">

            <div class="form-group">
                <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'drop-area': dragOver }">
                    <h1>Drag &amp; Drop</h1>
                </div>

                <label class="upload-button">
                    <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
                    or choose file(s)
                    </label>

                <button type="button" class="start-upload-btn" (click)="startUpload()">
                    Start Upload
                    </button>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="field_name">Provide a project name:</label>
                <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="projectName" />
            </div>
            <pre>{{ files | json }}</pre>
        </div>
        <div class="card-footer bg-info">
            <button type="button" class="btn btn-secondary" (click)="cancel()">
                    <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
                </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fa fa-save"></span>&nbsp;<span>Save</span>
                </button>
        </div>
    </div>
</form>
<!--
<div style="margin-left: 15px; margin-right: 15px; margin-top: 60px">
    <h1>Simple upload example with Bootstrap</h1>
    <hr>

    <form>
        
        <div class="form-group row">
            <div class="col-md-3">
                <h3>Add files</h3>
                <div>
                    <div class="well my-drop-zone" ngxDragAndDrop>
                        Drop files here to upload
                    </div>
                </div>
            </div>

            <div class="col-md-9" style="margin-bottom: 40px">
                <h3>Upload queue <span *ngIf="uploader.queue.length>0"> - {{ uploader.queue.length }} item(s)</span>
                </h3>

                <div class="card text-right">
                    <div style="margin: 15px">
                        <ngb-progressbar showValue="true" type="success" [striped]="true" [animated]="true"
                                         [value]="uploader.progressTotal"></ngb-progressbar>
                    </div>
                    <div class="card-block">
                        <button type="button" class="btn btn-outline-success btn-s" (click)="uploadAll()"
                                [disabled]="!activeUploadAllBtn()">
                            Upload all
                        </button>
                        <button type="button" class="btn btn-outline-warning btn-s" (click)="uploader.cancelAll()"
                                [disabled]="!activeCancelAllBtn()">
                            Cancel all
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-s"
                                (click)="uploader.removeAllFromQueue()"
                                [disabled]="!activeRemoveAllBtn()">
                            Remove all
                        </button>
                    </div>
                </div>
                <div class="card" style="margin-top: 20px">

                    <table class="table" style="font-size: 14px">
                        <thead>
                        <tr>
                            <th></th>
                            <th width="50%">Name</th>
                            <th>Size</th>
                            <th>Progress</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let itemFile of uploader.queue"
                            [ngClass]="{'table-success' : itemFile.isSuccess, 'table-danger' : itemFile.isError, 'table-warning' : itemFile.isUploading  }">
                            <td>
                                <div [ngxThumbnail]="itemFile"></div>
                            </td>
                            <td>{{ itemFile.file.name }}</td>
                            <td>{{ itemFile.file.size/1024/1024 | number:'1.0-2' }} MB</td>
                            <td>
                                <div>
                                    <ngb-progressbar type="success" showValue="true"
                                                     [striped]="true" [animated]="true"
                                                     [value]="itemFile.progress">

                                    </ngb-progressbar>
                                </div>
                            </td>
                            <td style="text-align: center">
                                <button type="button" class="btn btn-outline-success btn-sm" (click)="upload(itemFile)"
                                        [disabled]="!itemFile.isReady">
                                    Upload
                                </button>
                                <button type="button" class="btn btn-outline-warning btn-sm" (click)="itemFile.cancel()"
                                        [disabled]="!itemFile.uploadInProgress || itemFile.isCancel">
                                    Cancel
                                </button>
                                <button type="button" class="btn btn-outline-danger btn-sm" (click)="itemFile.remove()"
                                        [disabled]="itemFile.isSuccess || itemFile.uploadInProgress">
                                    Remove
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </form>
</div>
-->