.drop-area {
    border: 2px dashed #336534;
    background-color: rgb(231, 248, 220);
}

.clear-drop-area {
    border: 2px solid #336534;
    background-color: white;
}

.drop-zone {
    border: dotted 3px lightgray;
}

.inline-block {
    display: inline-block;
    margin: .2em;
}


/* Default class applied to drop zones on over */

.invalid-drag {
    border: dotted 3px red;
}

.valid-drag {
    border: dotted 3px green;
}

.previewIcon {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.drop-zone {
    width: 100%;
    height: 300px;
    cursor: pointer;
    padding: 1em;
    background-size: 100px 100px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
}

ngb-progressbar {
    margin-top: 5rem;
}

tr th {
    text-align: center
}