<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTraceLogLabel">Upload Trace Log</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!traceLog.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="traceLog.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_data">Data</label>
            <div>
                <div *ngIf="traceLog.data" class="form-text text-danger clearfix">
                    <!--
                    <a class="pull-left" (click)="openFile(traceLog.dataContentType, traceLog.data)">open</a><br>
                    -->
                    <span class="pull-left">
                        <span *ngIf="traceLog.dataContentType">{{traceLog.dataContentType}}, </span>
                    <span>{{byteSize(traceLog.data)}}</span>
                    </span>
                    <button type="button" (click)="traceLog.data=null;traceLog.dataContentType=null;" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_data" (change)="setFileData($event, traceLog, 'data', false)" />
            </div>
            <input type="hidden" class="form-control" name="data" id="field_data" [(ngModel)]="traceLog.data" />
            <input type="hidden" class="form-control" name="dataContentType" id="field_dataContentType" [(ngModel)]="traceLog.dataContentType" />
        </div>
        <!--
        <div class="form-group">
            <label class="form-control-label" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="traceLog.createdBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="traceLog.createdDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_modifiedBy">Modified By</label>
            <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                [(ngModel)]="traceLog.modifiedBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_modifiedDate">Modified Date</label>
            <div class="d-flex">
                <input id="field_modifiedDate" type="datetime-local" class="form-control" name="modifiedDate" [(ngModel)]="traceLog.modifiedDate"
                />
            </div>
        </div>
        -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>