<div>
    <h2>
        <span>Trace Logs</span>
        <button class="btn btn-primary float-right jh-create-entity create-trace-log" [routerLink]="['/', { outlets: { popup: ['trace-log-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Trace Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>

    <br/>
    <div class="table-responsive" *ngIf="traceLogs">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>#</span></th>
                    <th><span>Data</span></th>
                    <th><span>Created By</span></th>
                    <th><span>Created Date</span></th>
                    <th><span>Modified By</span></th>
                    <th><span>Modified Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let traceLog of traceLogs ;trackBy: trackId; let i = index;">
                    <td><a [routerLink]="['../trace-log', traceLog.id ]">{{i+1}}</a></td>
                    <td>
                        <!--
                        <a *ngIf="traceLog.data" (click)="openFile(traceLog.dataContentType, traceLog.data)">open</a>
                        -->
                        <div *ngIf="traceLog.data">
                            <span *ngIf="traceLog.dataContentType">{{traceLog.dataContentType}}, </span> {{byteSize(traceLog.data)}}
                        </div>
                    </td>
                    <td>{{traceLog.createdBy}}</td>
                    <td>{{traceLog.createdDate | date:'medium'}}</td>
                    <td>{{traceLog.modifiedBy}}</td>
                    <td>{{traceLog.modifiedDate | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['../trace-log', traceLog.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'trace-log/'+ traceLog.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'trace-log/'+ traceLog.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>