
<div *ngIf="traceLog">
    <h2><span>Trace Log</span> {{traceLog.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Data</span></dt>
        <dd>
            <div *ngIf="traceLog.data">
                <a (click)="openFile(traceLog.dataContentType, traceLog.data)">open</a>
                {{traceLog.dataContentType}}, {{byteSize(traceLog.data)}}
            </div>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{traceLog.createdBy}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{traceLog.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span>Modified By</span></dt>
        <dd>
            <span>{{traceLog.modifiedBy}}</span>
        </dd>
        <dt><span>Modified Date</span></dt>
        <dd>
            <span>{{traceLog.modifiedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trace-log/'+ traceLog.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
